.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: center;

  &__button {
    width: 100%;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--centered {
      justify-content: center;
    }
  }
}
