.registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.registration-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;

  &__form {
    display: none;

    &--active {
      display: block;
    }
  }

  &__button {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}
