@import "../../globals/styles/variables";

.layout {
  min-height: 100vh;

  &__content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media #{$desktopSmall} {
      padding: 0;
    }
  }
}
