.header {
  color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }

  &__logo-img {
    width: 50px;
  }

  &__left {

  }

  &__center {

  }

  &__right {

  }
}
